.git
.venv
.idea
.vscode
.pytest_cache
.ruff_cache
__pycache__/
*.py[oc]

data/mlflow.db
data/mlruns/
mlruns/
plots/
notebooks/
tests/

.env
.dockerignore
.gitignore
.gitattributes
.python-version
Dockerfile
Makefile
